body {
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 500px;
}

.custom-cluster-icon{
    background-color: blue;
    color: white;
    border-radius: 15px;

    display: grid;
    place-items: center;

    border: solid 3px white;
   
}
